---
import Layout from "../layouts/Layout.astro";
---

<Layout title="dlgr.au">
  <div class="flex flex-col justify-center items-center min-h-screen">
    <div>
      <h1 class="text-5xl tracking-wide mb-1">dlgr.au</h1>
      <h2 class="text-lg text-right mb-3 opacity-40">adam dilger</h2>
      <nav class="text-right">
        <a href="/resume.pdf" target="blank" class="underline">resume</a>
        <a href="/portfolio" class="underline ms-4">portfolio</a>
      </nav>
    </div>
  </div>
</Layout>
